<div style="background-image: linear-gradient(rgb(183, 229, 229), rgb(245,189,198));"
    class="flex justify-center h-screen items-center bg-gradient-to-t from-[rgb(245,189,198) to-[rgb(132, 255, 255)]]">
    <div>
        <div
            class="grid lg:grid-cols-2 md:grid-cols-2 gap-8 sm:grid-cols-1 xs:grid-cols-1 lg:h-[350px] bg-white rounded shadow-lg p-4">
            <div>
                <img class="h-full object-cover"
                    src="https://images.unsplash.com/photo-1546514714-df0ccc50d7bf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=667&q=80"
                    width="350px">
            </div>
            <div class="lg:pe-8">
                <p class="text-xl text-gray-600 text-center">Welcome back!</p>
                <form [formGroup]="loginForm" (ngSubmit)="userLogin()">
                    <div class="mt-4">
                        <label class="text-gray-700 text-sm font-bold mb-2">Email Address</label>
                        <input
                            class="bg-gray-200 text-gray-700 focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full"
                            type="email" formControlName="email" />
                    </div>
                    <div class="mt-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2">Password</label>
                        <!-- <a href="#" class="text-xs text-gray-500">Forget Password?</a> -->
                        <input
                            class="bg-gray-200 text-gray-700 focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full"
                            type="password" formControlName="password" />
                    </div>
                    <div class="mt-8">
                        <button
                            class="bg-gray-700 text-white font-bold py-2 px-4 w-full rounded hover:bg-gray-600">Login</button>
                    </div>
                    <div class="mt-4 flex items-center justify-between">
                        <span class="border-b w-1/5 md:w-1/4"></span>
                        <a routerLink="/user/register" class="text-xs text-gray-500 uppercase">or sign up</a>
                        <span class="border-b w-1/5 md:w-1/4"></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<p-toast></p-toast>