<div class="text-justify lg:ms-5 md:ms-5">
    <h3 class="mb-3 font-bold text-xl">My Profile</h3>
    <div>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis adipisci quae, explicabo eum quaerat
        libero. Sed iusto, quia consequuntur praesentium, labore voluptates quos maxime, provident cupiditate voluptas
        voluptatum. Veniam ullam illo unde totam quae vitae fuga quis perferendis modi, eos vero dolorum iste harum
        soluta, architecto debitis, sit odio eaque. Blanditiis quas laudantium amet vitae aperiam, quae cum ullam
        mollitia, sunt hic reprehenderit sit, porro officia accusantium! Iusto temporibus veritatis esse ullam nobis
        repellendus fugiat, tempora aliquam assumenda odio praesentium id unde nulla exercitationem itaque harum natus
        beatae, quis pariatur est tempore atque sit at. Reprehenderit, et beatae assumenda similique ex autem,
        blanditiis iure id vero vitae quo magnam dolor libero repellat! Consequatur cumque impedit aut nulla accusamus
        enim? Esse quia aspernatur dolorem minima, nulla tempora veniam animi, expedita veritatis provident placeat aut
        dolores non error reprehenderit at autem, eos sit sapiente exercitationem molestiae suscipit fuga? Maxime labore
        voluptate porro sit officiis temporibus corrupti tempora id enim, molestiae cum placeat quam dolores similique
        quo aperiam nulla maiores quae natus iste. Doloribus exercitationem doloremque iste aperiam, vel autem iure
        vitae. Dolore dicta expedita aspernatur ipsum enim perferendis non voluptas, velit facilis quia, provident eaque
        labore eos rem totam eligendi aperiam numquam.
    </div>
</div>