<div class="text-blue-600 text-justify">
    <h5 class="text-black font-bold pb-2">Dashboard Component</h5>
    <div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid eius et magni quod atque quasi ab numquam
        eligendi facere. Provident quae deserunt consectetur odit nemo vel aspernatur, inventore, repellat repudiandae
        neque
        aperiam libero porro, quibusdam excepturi fugiat esse quod tempora ullam harum nam. Quaerat soluta voluptates
        placeat iste illo corporis eveniet facilis sint voluptatem. Rem repellat esse tempore error deleniti deserunt
        inventore distinctio sit fuga nemo voluptatem doloremque sed, quibusdam et unde iusto quisquam nesciunt vitae
        quae
        eveniet ratione reprehenderit dicta harum! Quibusdam hic id pariatur, perferendis enim odio nam voluptatum non
        ratione impedit excepturi, dolor maxime alias esse. Voluptate!
    </div>
</div>