<div
    class="flex h-screen fixed top-20 w-[260px] flex-col bg-white bg-clip-border text-gray-700 shadow-xl shadow-blue-gray-900/5">
    <div class="mb-2">
        <div class="flex justify-between" (click)="dashboardAccess()">
            <div class="cursor-pointer px-3 pt-3" [ngClass]="itemClick ? '' :'divActive'"><i
                    class="fa-solid fa-gauge me-2"></i>Dashboard Access
            </div>
            <i class="fa-solid fa-angle-down ms-2 pt-3 flex items-center cursor-pointer px-3"></i>
        </div>
        <ul *ngIf="dashboard">
            <li class="ps-10 py-2 cursor-pointer mt-2" routerLink="/dashboard" routerLinkActive="active"><i
                    class="fa-solid fa-turn-up me-2 rotate-90"></i>Dashboard</li>
        </ul>
    </div>
    <div class="mb-2">
        <div class="flex justify-between" (click)="menuItems()" >
            <div class="cursor-pointer px-3 pt-3" [ngClass]="itemClick ?'divActive' : ''">
                <i class="fa-solid fa-utensils me-2"></i>Menu Items
            </div>
            <i class="fa-solid fa-angle-down ms-2 pt-3 flex items-center cursor-pointer px-3"></i>
        </div>
        <ul *ngIf="item">
            <li class="ps-10 py-2 cursor-pointer mt-2" routerLink="/food/list" routerLinkActive="active"><i
                    class="fa-solid fa-turn-up me-2 rotate-90"></i>Items List</li>
            <li class="ps-10 py-2 cursor-pointer" routerLink="/food/create" routerLinkActive="active"><i
                    class="fa-solid fa-turn-up me-2 rotate-90"></i>Create Item</li>
        </ul>
    </div>
</div>