<!-- <app-navbar *ngIf="showMenu"></app-navbar>

@if (showMenu){
<div class="mt-16 hidden h-screen stic md:flex col-span-1 lg:flex bg-gray-100">
    <app-sidebar></app-sidebar>
</div>
<div class="col-span-5 bg-gray-100">
    <router-outlet></router-outlet>
</div>
} @else {
<div class="w-full">
    <router-outlet></router-outlet>
</div>
}

@if(showMenu){
<footer class="bg-gray-200 text-center py-4 mt-auto">
    Ticketing Management System ©2024 Implement By ittstar.com
</footer>
} -->

<div *ngIf="!showMenu">
    <router-outlet></router-outlet>
</div>

<div *ngIf="showMenu">
    <div class="fixed w-full top-0 left-0 z-50" >
        <app-navbar></app-navbar>
    </div>
    <div class="grid grid-cols-5 top-20">
        <div class="col-span-1">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-span-4 my-24">
            <router-outlet></router-outlet>
            <div class="flex justify-center w-full">
                <footer class="fixed bottom-0 h-fit text-center w-[1302px] bg-gray-200 py-4 mt-auto">
                    Food Ordering Site &copy;2024 Implement By ittstar.com
                </footer>
            </div>
        </div>
    </div>
</div>