<div *ngIf="spinner" class="relative flex justify-center items-center h-96">
    <div class="absolute animate-spin rounded-full h-32 w-32 border-t-4 border-b-4 border-purple-500"></div>
    <img src="/assets/images/logo.png" class="rounded-full h-28 w-28">
</div>

<div *ngIf="itemData" class="my-5 px-10">
    <h3 class="font-bold text-xl mb-3">Item Update Form</h3>
    <form [formGroup]="updateItemForm" (ngSubmit)="updateItem()"
        class="border border-slate-300 p-5 rounded shadow-md bg-gray-100">
        <div class="mb-5 grid lg:grid-cols-2 gap-5 md:grid-cols-1 sm:grid-cols-1 xs:grid-cols-1">
            <div>
                <div *ngIf="itemData.image_url !== ''" class="relative group">
                    <img src="{{itemData.image_url || 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWz9tftw9qculFH1gxieWkxL6rbRk_hrXTSg&s'}}"
                        class="w-80 h-64 bg-center bg-cover rounded-lg object-cover">
                    <div class="absolute top-0 p-1 px-2 bg-black opacity-0 group-hover:opacity-100 cursor-pointer">
                        <!-- Toggle modal visibility using click event -->
                        <button type="button" (click)="toggleModal()">
                            <i class="fa fa-solid fa-edit shadow-md text-white shadow-slate-600"></i>
                        </button>
                    </div>

                    <!-- Modal -->
                    <div *ngIf="isModalOpen" id="hs-slide-down-animation-modal"
                        class="fixed inset-0 z-[9999] flex items-center justify-center bg-black bg-opacity-50">
                        <div class="bg-white p-6 rounded-lg shadow-lg max-w-lg w-full">
                            <div class="flex justify-between items-center py-3 px-4 border-b">
                                <h3 class="text-xl font-bold text-gray-800">Update Item Image</h3>
                                <button type="button" (click)="toggleModal()"
                                    class="text-gray-800 hover:bg-gray-200 p-2 rounded">
                                    <span class="sr-only">Close</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none"
                                        stroke="currentColor" viewBox="0 0 24 24">
                                        <path d="M18 6 6 18"></path>
                                        <path d="m6 6 12 12"></path>
                                    </svg>
                                </button>
                            </div>
                            <div class="p-4 overflow-y-auto">
                                <input type="file" (change)="fileUpload($event)"
                                    accept=".png, .jpg, .jpeg"
                                    class="w-full bg-gray-50 mt-2 border border-gray-300 text-gray-500 font-medium text-sm file:cursor-pointer cursor-pointer file:border-0 file:py-2.5 file:px-4 file:mr-4 file:bg-gray-800 file:hover:bg-gray-700 file:text-white rounded" />
                            </div>
                            <div class="flex justify-end items-center py-3 px-4">
                                <button type="button" (click)="toggleModal()"
                                    class="bg-gray-200 py-2 px-3 rounded">Close</button>
                                <button type="button" class="bg-blue-600 p-2 rounded ms-3 text-white" (click)="saveChanges()">Save Changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <label class="text-sm font-medium text-gray-900">
                    Description <span class="error">*</span>
                </label>
                <textarea
                    class="bg-gray-50 border mt-2 border-gray-300 text-gray-900 focus:outline-none sm:text-sm rounded-lg w-full p-2.5"
                    name="desc" id="desc" placeholder="Item Description" cols="180" rows="4"
                    formControlName="description"></textarea>
                <div class="error" *ngIf="dataVerify && updateItemForm.get('description')?.hasError('required')">
                    Item description is required
                </div>
            </div>
        </div>
        <div class="mb-5 grid lg:grid-cols-2 gap-5 md:grid-cols-1 sm:grid-cols-1 xs:grid-cols-1">
            <div>
                <label class="text-sm font-medium text-gray-900">
                    Name <span class="error">*</span>
                </label>
                <input placeholder="Item Name"
                    class="bg-gray-50 border mt-2 border-gray-300 text-gray-900 focus:outline-none sm:text-sm rounded-lg w-full p-2.5"
                    id="username" type="text" formControlName="itemName">
                <div class="error" *ngIf="dataVerify && updateItemForm.get('itemName')?.hasError('required')">Item
                    Name is
                    required</div>
            </div>
            <div>
                <label class="text-sm font-medium text-gray-900">
                    Price <span class="error">*</span>
                </label>
                <input placeholder="Item Price"
                    class="bg-gray-50 border mt-2 border-gray-300 text-gray-900 focus:outline-none sm:text-sm rounded-lg w-full p-2.5"
                    id="price" type="text" formControlName="price">
                <div class="error" *ngIf="dataVerify && updateItemForm.get('price')?.hasError('required')">User
                    Price is
                    required</div>
            </div>
        </div>
        <div class="mb-5 grid lg:grid-cols-2 gap-5 md:grid-cols-1 sm:grid-cols-1 xs:grid-cols-1">
            <div>
                <label class="text-sm font-medium text-gray-900">
                    Food Type <span class="error">*</span>
                </label>
                <select name="type" id="type" formControlName="food_type"
                    class="bg-gray-50 border mt-2 border-gray-300 text-gray-900 focus:outline-none sm:text-sm rounded-lg w-full p-2.5">
                    <option value={{itemData?.food_type}} selected hidden>{{itemData?.food_type}}</option>
                    <option value="veg">Veg</option>
                    <option value="non-veg">Non-veg</option>
                </select>
                <div class="error" *ngIf="dataVerify && updateItemForm.get('food_type')?.hasError('required')">User
                    Food Type is
                    required</div>
            </div>
            <div>
                <label class="text-sm font-medium text-gray-900">
                    Food Category <span class="error">*</span>
                </label>
                <select name="type" id="type" formControlName="category"
                    class="bg-gray-50 border mt-2 border-gray-300 text-gray-900 focus:outline-none sm:text-sm rounded-lg w-full p-2.5">
                    <option value={{itemData?.category}} selected hidden>{{itemData?.category}}</option>
                    <option value="south indian">South Indian</option>
                    <option value="north indian">North Indian</option>
                    <option value="itallian">Itallian</option>
                    <option value="chinese">Chinese</option>
                </select>
                <div class="error" *ngIf="dataVerify && updateItemForm.get('category')?.hasError('required')">
                    Category is required
                </div>
            </div>
        </div>
        <div class="text-center mb-5">
            <button
                class="bg-black hover:bg-slate-950 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center focus:none text-white"
                type="submit">
                Update Item
            </button>
        </div>
    </form>
</div>

<p-toast></p-toast>