<div class="flex items-center justify-center h-[100vh] ">
    <form [formGroup]="registerForm" (ngSubmit)="createAccount()">    
            <div class="w-full bg-white rounded-lg shadow border">
                <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                    <p
                        class="text-xl text-center pb-3 font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
                        Create an account
                    </p>
                    <div class="grid lg:grid-cols-2 gap-5 md:grid-cols-1 sm:grid-cols-1 xs:grid-cols-1">
                        <div>
                            <label class="block mb-2 text-sm font-medium text-gray-900">
                                Full Name <span class="error">*</span>
                            </label>
                            <input placeholder="Name"
                                class="bg-gray-50 focus:outline-none border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5"
                                id="username" type="text" formControlName="name">
                            <div class="error" *ngIf="dataVerify && registerForm.get('name')?.hasError('required')">User
                                Name is
                                required</div>
                        </div>
                        <div>
                            <label class="block mb-2 text-sm font-medium text-gray-900">
                                Email Address <span class="error">*</span>
                            </label>
                            <input placeholder="Email Address"
                                class="bg-gray-50 focus:outline-none border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5"
                                id="email" type="text" formControlName="email">
                            <div class="error" *ngIf="dataVerify && registerForm.get('email')?.hasError('required')">
                                Email is required
                            </div>
                            <div class="error" *ngIf="dataVerify && registerForm.get('email')?.hasError('email')">
                                Enter Valid Email
                            </div>
                        </div>
                    </div>

                    <div class="grid lg:grid-cols-2 gap-5 md:grid-cols-1 sm:grid-cols-1 xs:grid-cols-1">
                        <div>
                            <label class="block mb-2 text-sm font-medium text-gray-900">
                                Password <span class="error">*</span>
                            </label>
                            <input
                                class="bg-gray-50 focus:outline-none border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5"
                                placeholder="••••••••" id="password" type="password" formControlName="password">
                            <div class="error" *ngIf="dataVerify && registerForm.get('password')?.hasError('required')">
                                Password is required</div>
                            <div class="error"
                                *ngIf="dataVerify && registerForm.get('password')?.hasError('minlength')">Password
                                should have atleast 8 characters</div>
                            <div class="error"
                                *ngIf="dataVerify && registerForm.get('password')?.hasError('maxlength')">Password can
                                have only 16 characters</div>
                        </div>
                        <div>
                            <label class="block mb-2 text-sm font-medium text-gray-900">
                                Confirm password <span class="error">*</span>
                            </label>
                            <input
                                class="bg-gray-50 focus:outline-none border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5"
                                placeholder="••••••••" id="confirmPassword" type="password"
                                [(ngModel)]="confirmPassword" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                    <div class="grid lg:grid-cols-2 gap-5 md:grid-cols-1 sm:grid-cols-1 xs:grid-cols-1">
                        <div>
                            <label class="block mb-2 text-sm font-medium text-gray-900 me-10">
                                Gender <span class="error">*</span>
                            </label>
                            <select name="gender" id="gender"
                                class="bg-gray-50 focus:outline-none border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5"
                                formControlName="gender">
                                <option value="" hidden>Select Your Gender</option>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                                <option value="other">Other</option>
                            </select>
                            <div class="error" *ngIf="dataVerify && registerForm.get('gender')?.hasError('required')">
                                Select Gender</div>
                        </div>
                        <div>
                            <label class="block mb-2 text-sm font-medium text-gray-900">
                                Date of Birth <span class="error">*</span>
                            </label>
                            <input
                                class="bg-gray-50 focus:outline-none border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5"
                                id="dob" type="date" formControlName="dob">
                                <div class="error" *ngIf="dataVerify && registerForm.get('dob')?.hasError('required')">
                                    Date of Birth is required</div>
                        </div>
                    </div>
                    <div class="grid lg:grid-cols-2 gap-5 md:grid-cols-1 sm:grid-cols-1 xs:grid-cols-1">
                        <div>
                            <label class="block mb-2 text-sm font-medium text-gray-900 me-10">
                                Age <span class="error">*</span>
                            </label>
                            <input type="number" class="bg-gray-50 focus:outline-none border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5" placeholder="Enter Your age" formControlName="age"> 
                            <div class="error" *ngIf="dataVerify && registerForm.get('age')?.hasError('required')">
                                Age is required</div>
                        </div>
                        <div>
                            <label class="block mb-2 text-sm font-medium text-gray-900">
                                Phone Number <span class="error">*</span>
                            </label>
                            <input
                                class="bg-gray-50 focus:outline-none border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5"
                                id="phone" type="number" formControlName="phone_number">
                                <div class="error" *ngIf="dataVerify && registerForm.get('phone_number')?.hasError('required')">
                                    Phone number is required</div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button
                        class="bg-black hover:bg-slate-950 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center focus:none text-white"
                        type="submit">
                        Create an account
                    </button>
                    <p class="text-center text-sm text-gray-500 my-5">Already have an account?
                        <a routerLink="/"
                            class="font-semibold text-gray-600 hover:underline focus:text-gray-800 focus:outline-none">Login
                        </a>.
                    </p>
                </div>
            </div>
    </form>
</div>
<p-toast></p-toast>